@font-face { 
  font-family: 'montserrat';
  src: url('/fonts/montserrat/Montserrat-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;    
}

@font-face { 
  font-family: 'montserrat';
  src: url('/fonts/montserrat/Montserrat-MediumItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;    
}

@font-face {
  font-family: 'montserrat';
  src: url('/fonts/montserrat/Montserrat-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

html {
	box-sizing: border-box;
	font-size: 100%;
}

body {
  margin: 0;
  border: 0;
  background-color: #F5F2ED;
}

.welcome {
  padding: 14vh;
  align-items: center;
  border-color: #B59C95;
  background-image: url("../images/bg.jpg");
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: center;
}

input[type="date"] {
  background: transparent;
  color: #646F79;
  font-size: 1.1rem;
  cursor: text;
  border-radius: px;
  padding: 3px 3px;
}

.btn{
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
  color: #3b5971;
  padding: 3px 10px;
  margin: 0 .7rem;
}
.btn:hover {
  opacity: .9;
  color:  #B59C95
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1, p, button, input {
  font-family: 'montserrat', sans-serif;
  text-align: center;
}

h1 {
  color: #646F79;
  font-size: 3.3rem;
  margin-bottom: 0rem;
}

p {
  color: #917e7a;
  font-weight: bold;
  font-size: 1.4rem;
  margin: 10px;
}

.button {
  width: 200px;
  height: 200px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}


.button:hover {
  opacity: .8;
}

div.buttonrow {
  display: flex;
  justify-content: center;

}

#ari {
  background-image: url('../images/ari.jpg');
  background-size: 200px;
}

#tau {
  background-image: url('../images/tau.jpg');
  background-size: 200px;
}

#gem {
  background-image: url('../images/gem.jpg');
  background-size: 200px;
}

#can {
  background-image: url('../images/can.jpg');
  background-size: 200px;
}

#leo {
  background-image: url('../images/leo.jpg');
  background-size: 200px;
}

#vir {
  background-image: url('../images/vir.jpg');
  background-size: 200px;
}

#lib {
  background-image: url('../images/lib.jpg');
  background-size: 200px;
}

#sco {
  background-image: url('../images/sco.jpg');
  background-size: 200px;
}

#sag {
  background-image: url('../images/sag.jpg');
  background-size: 200px;
}

#cap {
  background-image: url('../images/cap.jpg');
  background-size: 200px;
}

#aqu {
  background-image: url('../images/aqu.jpg');
  background-size: 200px;
}

#pis {
  background-image: url('../images/pis.jpg');
  background-size: 200px;
}